{%extends "AppMaquinas/base.html" %}
<main>
{% load static %}
{% block main %}
    <section>
        <div class="perfil-autor">
            <p class="texto-autor"> Hola, mi nombre es Leandro y me encuentro terminando el curso de programador python. Estoy introduciendome en el mundo IT, y elegí este lenguaje dado que con pocas herramientas se pueden realizar sistemas con un alto nivel de seguridad, y totalmente escalables. Gracias por visitar mi trabajo.
            </p>
            <img class="foto-autor" src="{%static 'AppMaquinas/assets/leandro.jpg'%}" alt="imagen propia">
        </div>
</section>
{% endblock %}
</main>