{% extends "AppMaquinas/base.html" %}

{% load static %}

{% block main %}
    <div class="d-flex justify-content-center detalle-herramientas">
        <!-- <div class="col col-8" style="text-align: center;"> -->
            <h1 class="nombre-herramienta">{{ maquina.nombre }}</h1>
            <img class="foto-herramienta" src="{{maquina.image_url}}">
            <p class="texto-herramienta">Especificaciones:</p>
            <p class="lead texto-herramienta-detalle">{{ maquina.detalle}}</p>
            <p class="lead texto-herramienta-detalle"> Publicado por: {{ maquina.propietario}}</p>
        <!-- </div> -->
    </div>
{% endblock %}